<%= render "/shared/header" %>
<%= render "/shared/clickable-avatar" %>

<div class="main-container">
  <h1>The products <i class="fa-solid fa-leaf"></i></h1>
  <ul class="container-product">
    <% @products.each do |product|%>
      <%= link_to product_path(product) do %>
          <li class="card-product">
            <% if product.picture.attached? %>
              <%= cl_image_tag (product.picture.key), class: "card-product-img" %>
            <% end %>
            <div class="card-product-description-container">
              <p class="card-product-title"> <%= product.name %> </p>
              <div class="card-product-description trait_below"> <%= product.description%></div>
            </div>
          </li>
      <% end %>
    <% end %>
  </ul>
</div>
