<%= render "/shared/header" %>
<%= render "/shared/clickable-avatar" %>

<div class="main-container">

  <div class="searchbar-home">
    <%= simple_form_for :products_filter, url: products_path, method: :get do |f| %>
    <%= f.input :query, label: false, required: false, placeholder: "Search for a product", style: "width: 350px", input_html: { class: "no-focus-border"} %>
    <div class="search-filter">
      <%= f.input :gender, label: false, prompt: "Gender", collection: Product.pluck(:gender).uniq, required: false%>
      <%= f.input :category, label: false, prompt: "Category", collection: Product.pluck(:category).uniq, required: false %>
    </div>
    <div class="filter-rating">
      <div id="slider-value">0</div>
      <%= f.input :average_rating, as: :range, required: false, label: "Sustainability Score", input_html: {value: '0'} %>
      <div class="button-space">
        <%= submit_tag "Search", class: "btn-light-green"%>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="container-product">
    <% @products.each do |product|%>
      <div id="product-card-<%= product.id  %>">
        <%= render 'card', product: product %>
      </div>
    <% end %>
  </ul>
</div>
