<%= render "/shared/header" %>
<%= render "/shared/clickable-avatar" %>

<div class="main-container">

  <div class="searchbar-home">
    <%= simple_form_for :products_filter, url: products_path, method: :get do |f| %>
    <%= f.input :query, label: false, required: false, placeholder: "Search for a product", style: "width: 350px" %>
    <div class="search-filter">
      <%= f.input :gender, label: false, placeholder: "Gender", collection: Product.pluck(:gender).uniq, required: false%>
      <%= f.input :category, label: false, placeholder: "Categories", collection: Product.pluck(:category).uniq, required: false %>
    </div>
    <div class="filter-rating">
      <div id="slider-value">0</div>
      <%= f.input :average_rating, as: :range, required: false, label: "Sustainability Score", input_html: {value: '0'} %>
      <div class="button-space">
        <%= submit_tag "Search", class: "btn-light-green"%>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="container-product">
    <% @products.each do |product|%>
      <%= link_to product_path(product) do %>
          <div class="card-product">
            <% if product.picture.attached? %>
                  <%= cl_image_tag (product.picture.key), class: "card-product-img"%>
                  <% favorite = Favorite.find_by(user_id: current_user.id, product_id: product.id) %>
                  <% if favorite.nil? %>
                    <%= link_to favorites_path(product: product), method: :post, remote: true do %>
                      <div class="heart">
                        <i class="far fa-heart"></i>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to favorite_path(favorite, from: "products"), method: :delete, remote: true do  %>
                    <div class="heart">
                      <i class="fas fa-heart"></i>
                    </div>
                    <% end %>
                  <% end %>
            <% end %>
            <div class="card-product-description-container">
              <p class="card-product-title"> <%= product.name %> </p>
              <div class="card-product-description trait_below">
                <p> <%= product.brand.name %></p>
                <% average_rating = (product.environment + product.labor + product.animal + product.composition) / 4 %>
                <p class="product-score"> <i class="fas fa-leaf"> </i> <%= average_rating %>/100 </p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </ul>
</div>
