
<%= render "/shared/header" %>
<%= render "/shared/clickable-avatar" %>

<div class="main-container">
  <div class="card">
  <%= cl_image_tag(@product.id, width: 370, height: 300, crop: :fill) %>
  <div class="card-body">
    <h3 class="card-title"><%= @product.name %></h3>
    <p class="card-text"><%= @product.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fab fa-envira"></i> Environment: <%= @product.environment %>/100</li>
    <li class="list-group-item"><i class="fas fa-people-carry"></i> Labor: <%= @product.labor %>/100</li>
    <li class="list-group-item"><i class="fas fa-paw"></i> Animal: <%= @product.animal %>/100</li>
    <li class="list-group-item"><i class="fas fa-recycle"></i> Composition: <%= @product.composition %>/100</li>
  </ul>
  <div class="card-body">
    <a href="https://eu.patagonia.com/fr/fr/product/womens-synchilla-lightweight-fleece-snap-t-fleece-pullover/25455.html?dwvar_25455_color=CBAP&dwvar_25455_size=M&quantity=1&gclid=EAIaIQobChMIiKL7qoLM8gIVIgZ7Ch2ClAJyEAQYCCABEgJR_fD_BwE&gclsrc=aw.ds" class="card-link">Buy on Patagonia</a>
    <a href="/" class="card-link">Return to homepage</a>
  </div>

  <div class="form-feedback">
    <%= simple_form_for([@product, @feedback], remote: true) do |f| %>
      <%= f.input :average_durability, placeholder: "Enter the product lifetime (weeks)" %>
      <%= f.input :comment, placeholder: "Add a comment" %>
      <%= f.input :picture_worn, as: :file %>
      <%= f.submit "Submit review", class:"btn-light-green" %>
    <% end %>
  </div>

 <div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
    <div class="show-feedback">
      <h2 id="feedbacks-list">Your feedbacks</h2>
      <% @product.feedbacks.order(created_at: :desc).each do |feedback|%>
        <%= render "feedbacks/feedback", feedback: feedback %>
      <% end %>
    </div>
  </div>
</div>
