<div class="container-products">
  <div class="card" style="width: 43rem;">
  <img src="https://eu.patagonia.com/dw/image/v2/BDJB_PRD/on/demandware.static/-/Sites-patagonia-master/default/dw15554c21/images/hi-res/25455_CBAP.jpg?sw=2000&sh=2000&sfrm=png&q=80&bgcolor=f6f6f6" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><%= @product.name %></h3>
    <p class="card-text"><%= @product.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Environment: <%= @product.environment %>/100</li>
    <li class="list-group-item">Labor: <%= @product.labor %>/100</li>
    <li class="list-group-item">Animal: <%= @product.animal %>/100</li>
    <li class="list-group-item">Composition: <%= @product.composition %>/100</li>
  </ul>
  <div class="card-body">
    <a href="https://eu.patagonia.com/fr/fr/product/womens-synchilla-lightweight-fleece-snap-t-fleece-pullover/25455.html?dwvar_25455_color=CBAP&dwvar_25455_size=M&quantity=1&gclid=EAIaIQobChMIiKL7qoLM8gIVIgZ7Ch2ClAJyEAQYCCABEgJR_fD_BwE&gclsrc=aw.ds" class="card-link">Buy on Patagonia</a>
    <a href="/" class="card-link">Return to homepage</a>
  </div>
</div>

  <div class="form-feedback">
    <%= simple_form_for [@product, @feedback] do |f| %>
      <%= f.input :comment %>
      <%= f.input :average_durability %>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
      <%= f.submit "Submit review", class:"btn-light-green"%>
    <% end %>
  </div>
</div>
