<div class="container-form">
  <h1>Products#show</h1>
  <p>Find me in app/views/products/show.html.erb</p>
  <div class="form-feedback">
    <%= simple_form_for [@product, @feedback] do |f| %>
      <%= f.input :comment %>
      <%= f.input :average_durability %>
      <%= f.submit "Submit review", class:"btn-light-green"%>
    <% end %>
  </div>
  <div class="show-feedback">
    <h2>Your feedbacks</h2>
    <% @feedbacks.each do |feedback|%>
      <li><%= feedback.comment%>
          <%= feedback.average_durability%>
      </li>
    <% end %>
  </div>
</div>
