
<%= render "/shared/header" %>
<%= render "/shared/clickable-avatar" %>

<div class="products-container">
  <div class="card">
  <% if @product.picture.attached? %>
    <%= cl_image_tag(@product.picture.key, width: 370, height: 300, crop: :fill) %>
  <% end %>
  <div class="card-body">
    <h3 class="card-title"><%= @product.name %></h3>
    <p class="card-text"><%= @product.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fab fa-envira"></i> Environment: <%= @product.environment %>/100</li>
    <li class="list-group-item"><i class="fas fa-people-carry"></i> Labor: <%= @product.labor %>/100</li>
    <li class="list-group-item"><i class="fas fa-paw"></i> Animal: <%= @product.animal %>/100</li>
    <li class="list-group-item"><i class="fas fa-recycle"></i> Composition: <%= @product.composition %>/100</li>
  </ul>
  <div class="card-body">
    <a href="/" class="card-link">Buy on Website</a>
  </div>
  <div class="form-feedback">
    <%= simple_form_for([@product, @feedback], remote: true) do |f| %>
      <%= f.input :average_durability, placeholder: "You've worn this item ?(weeks)" %>
      <%= f.input :comment, placeholder: "Tell us more" %>
      <%= f.input :picture_worn, as: :file %>
      <%= f.submit "Submit review", class:"btn-light-green" %>
    <% end %>
  </div>

  <div data-controller="insert-in-list">
    <div data-insert-in-list-target="items">
      <h2 id="feedbacks-list">Your feedbacks</h2>

        <% @product.feedbacks.order(created_at: :desc).each do |feedback|%>
          <%=render "feedbacks/feedback", feedback: feedback %>
        <% end %>
    </div>
  </div>
</div>
