<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x"></script>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
      </div>
    <%= yield %>
        <%= render 'shared/flashes' %>
        <%= render 'shared/footer' %>
  </body>
</html>
